* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    display: inline-flex;
}

header h1 {
    display: inline-block;
    margin-left: 25rem;
}

.botones {
    display: inline-block;
    float: right;
}

.botones-menu {
    display: flex;
    justify-content: center;
}

.imagenes-main {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 25px;
    background-color: black;
}

.imagenes-main img{
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.imagenes-main-botones {
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.imagenes-main-botones button {
    margin-top: 5px;
}