*{
    margin: 0;
    color: black;
}

.bg{
    background-color: #F6F8FA;
}



.arriba{
    border: 1px solid #E1E4E8;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: 10px 10px 0;
    padding: 15px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.abajo{
    border: 1px solid #E1E4E8;
    border-radius: 5px;
    background-color: white;
    margin: 0 10px 10px;
    padding: 15px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

h5{
    font-size: 20px;
    padding: 10px 0 5px 15px;
    font-weight: normal;
}


.img-der{
    display: inline;
    float:right;
}

.img-der2{
    display: inline;
    float:right;
    margin-right: 1vw;
}

.img-der p{
    display: inline;
    float: right;
    margin-left: 3px;
}

#icono{
    display: inline;
    float: left;
    margin: 0 10px 0 0;
}

#title{
    display:inline;
}