html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    background-color: rgb(47, 80, 137);
    background-image: url(/img/5.jpg);
    background-position: center center;
    background-size: cover;
}

.header{
    justify-content: center;
    text-align: center;
    padding: 19rem;
 }

 /* #headerbg{
    background-image: url("/img/bg2.jpg");
    background-blend-mode: darken;
 } */

.header a{
    color: rgb(250, 250, 250);
    text-decoration: none;
    font-family: 'Titan One', cursive;
}

.header p{
    color: rgb(250, 250, 250);
}

.header a:hover{
    background-color: rgb(132, 126, 126);
    padding-bottom: 25px;
}

#header1{
    font-size: 50px;
}

.nav-bar{
    position: fixed;
    top: 0;
    left: 37rem;
    background-color: rgb(27, 34, 46);
    text-align: center;
}

.nav-bar a{
    padding: 5px;
    margin-right: 5px;
    margin-top: 3px;
    display: inline-flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-bar a:hover{
    background-color: rgb(106, 98, 98);
}

.Youtube {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.3);
    display: inline-block;
    font-family: 'Prompt', sans-serif;
}

.Password{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.3);;
    display: inline-block;
    font-family: 'Prompt', sans-serif;
}

.NotePad{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.3);
    display: inline-block;
    font-family: 'Prompt', sans-serif;
}

.Calculadora{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.3);
    display: inline-block;
    font-family: 'Prompt', sans-serif;
}

.EntryTxT{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.3);
    display: inline-block;
    font-family: 'Prompt', sans-serif;
}

.Adventure{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.3);
    display: inline-block;
    font-family: 'Prompt', sans-serif;
}

#top{
    background-color: rgb(27, 34, 46);
}

#works{
    text-align: center;
    margin-bottom: 30px;
}

#works a{
    display: flex;
    justify-content: center;
}

#works h2{
    padding-top: 3rem;
    text-align: center;
    font-size: 2rem;
    font-family: 'Prompt', sans-serif;
}

#works h3{
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
    font-size: 3vh;
    text-align: center;
}

#works p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 3vh;
}

#todos{
    height: 10px;
    font-family: 'Prompt', sans-serif;
}

#about-me{
    text-align: center;
    height: 75%;
    padding-top: 1vw;
    background-color: rgb(27, 34, 46);
    color: rgb(255, 255, 255);
    font-family: 'Prompt', sans-serif;
}

#about-me img{
    display: inline-block;
    padding-top: 2vw;
    margin-bottom: 20px;
    margin-right: 1vw;
}

#about-me h3{
    margin-left: 3rem;
    margin-right: 3rem;
}

#lenguajes{
    padding-top: 3vw;
}

#Yo{
    padding-top: 1vw;
}

footer{
    color: aliceblue;
    padding: 15px;
    bottom: 0px;
    text-align: center;
    align-items: center;
}
